.top{
    background-image: url(./assets/backgrounds/h_img.jpg);
    text-align: center;
    height: 600px;
    color: white;
    padding-top: 50px;
}
 
.mous{
    padding-top: 200px;
}

.about{
  text-align: center;
  height: 200px;
}
.service{
    background-image: url(./assets/backgrounds/s_image.jpg);
    text-align: center;
    height: 300px;
    font-size: x-large;
    color:white;
}

.what-we-do{
    display: inline;
    padding: 30px;
    text-align: center;

    
}

.icon{
    padding: 100px;
   
}

.icond{
    text-align: center;
}
#designp{
    display: none;
}
#dev{
    display: none;
}
#productp{
    display: none;
}

.portfolio{
    text-align: center;
    border-bottom: 100px;
    
}

.contact{
    background-image: url(./assets/backgrounds/c_image.jpg);
    text-align: center;
    height: 500px;
    border-top: 100px;
}
.msg{
    height: 200px;
    width: 500px;
    background: none;
    color: white;
}

.em{
    width: 250px ;
    height: 20px;
    background: none;

}

footer{
    text-align: center;
}
